@import './base.css';

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;

	font-weight: normal;
}

a {
	text-decoration: none;
	color: var(--color-action1);
	transition: 0.4s;
}

@media (hover: hover) {
	a:hover {
		color: var(--color-action2);
	}
}

textarea {
	background-color: var(--color-background-mute);
	border-radius: 4px;
	color: var(--color-text);
	border: 1px solid var(--color-border);
	padding: 1em;
}

textarea.maximized {
	min-width: 100%;
	min-height: 28em;
}

textarea.error {
	color: var(--color-error);
}
